#todo, #instructions {
  color: white;
  font-family: Segoe WP;
  padding-left: 100px;
}


#instructions {
  padding-top: 20px;
}
#todo #main{
  display: none;
}


#todo-list {
  margin: 10px 0;
  padding: 0;
  list-style: none;
}

#todo-list li {
  padding: 18px 20px 18px 0;
  position: relative;
  border-bottom: 1px solid #cccccc;
}