<!doctype html>
<html>
  <head>
	
	<!--	css   -->
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap-responsive.css">
	<link rel="stylesheet" type="text/css" href="/app/css/todo.css">
	
	<!--	js    -->
	<script src="/app/lib/jquery.min.js"></script>
	<script src="/app/lib/json2.js"></script>
	<script src="/app/lib/underscore-1.3.3.js"></script>
	<script src="/app/lib/backbone.js"></script>
	<script src="/app/lib/backbone-localstorage.js"></script>
	<script src="/app/js/boostrap.js"></script>
	<script src="/app/js/todos.js"></script>
	<script src="/app/js/login.js"></script>
	<script src="/app/js/user.js"></script>
	<script src="/app/js/LAPI.js"></script>
	<script src="/app/js/modules.js"></script>
	<script src="/app/js/timetable.js"></script>
	<script src="/bootstrap/js/bootstrap.js"></script>

	

<title>IVLE</title>
	<style type="text/css">
	  p { color:white }
	  
	  .btn-menu { font-size: 20px }
	  
	  body {
		width:560px;
		height:300px;
		background-color:#333333;
		font-family: Segoe WP
	  }
	  
	  .item1-grid, .item2-grid {
		width: 150px;
		height: 120px;
		background-color: #999999;
		border: silver
	  }
	  
	  .navbar-inner {
		background-image: url('/app/img/IVLEbanner1.jpg')
	  }
	  
	  .wel-text {
		margin: 0 0 0 -5px;
		display: block;
		float: left;
		padding-left: 40px;
		margin-top: 9px;
		font-size: 15px;
		color: white
	  }
	  
	  #login-area {
		font: 16px Segoe WP, Arial;
		padding: 8px 0px 0px 80px;
	  }
	</style>
	
  </head>
  <body data-spy="scroll" data-target=".subnav" data-offset="50" data-twttr-rendered="true">
	<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
		  <div>
          <a class="brand" href="#" data-toggle="collapse" data-target=".nav-collapse"><p class="btn-menu">IVLE</p></a>
		  <div id="login-area">
			<div class="wel-text">Hey! <a class="username">Dear Student</a> | <a class="log-info">Login</a>
			</div>
		  </div>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="">
                <a href="#"><p>My Organizer</p></a>
              </li>
              <li class="">
                <a href="#"><p>Modules</p></a>
              </li>
              <li class="">
                <a data-toggle="#myCarousel" data-target=".carousel-inner" href="#todo"><p>Todos</p></a>
              </li>
            </ul>
          </div>		  
        </div>		
      </div>
    </div>
	
	<div class="container" style="height:295px; width: 560; overflow-y:auto;">
		  <div id="myCarousel" class="carousel slide" style="height:260px; width: 560">
			<!-- Carousel items -->
			<div class="carousel-inner">
			  
<!-- first slide, timetable-->
				<div class=" active item">
				  <div id="timetable">
				  <ul id="slots-list">
	
				  </ul>
				  </div>
				</div>
<!-- second slide -->

			  <div class="item">
				<div id="modules">
				  
				</div>
			  </div>

<!-- thrid slide -->

			  <div class="item">
				<div id="todo">
				  <header>
					<h2>Todos</h2>
					<input id="new-todo" type="text" placeholder="What needs to be done?">
				  </header>

				  <section id="main">
					<input id="toggle-all" type="checkbox">
					  <label for="toggle-all">Mark all as complete</label>
					<ul id="todo-list"></ul>
				  </section>

				  <footer>
					<a id="clear-completed">Clear completed</a>
					<div id="todo-count"></div>
				  </footer>
				</div>
				<div id="instructions">
				  Double-click to edit a todo.
				</div>
			  </div>

			</div>

			
			
			
			
			
<!-- Carousel nav -->
			<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
			<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
		  </div>
	</div>
	
	
<!--	script of template for Todos    -->
	<script type="text/template" id="item-template">
    <div class="view">
      <input class="toggle" type="checkbox" <%= done ? 'checked="checked"' : '' %> />
      <label><%= title %></label>
      <a class="destroy"></a>
    </div>
    <input class="edit" type="text" value="<%= title %>" />
  </script>

  <script type="text/template" id="stats-template">
    <% if (done) { %>
      <a id="clear-completed">Clear <%= done %> completed <%= done == 1 ? 'item' : 'items' %></a>
    <% } %>
    <div class="todo-count"><b><%= remaining %></b> <%= remaining == 1 ? 'item' : 'items' %> left</div>
  </script>
  
<!--         modules info        -->
  <script type="text/template" id="module-template">
	<div><p><%= moduleCode %></p><p><%= title %></p></div>
  </script>
  
  <script type="text/template" id="modulesapp-template">
  </script>
  
  <!--       timetable           -->
  <script type="text/template" id="slot-template">
	<p>shit<p>
  	<div>
  		<p><%= moduleCode %></p>
  	</div>
  </script>
  
  <script type="text/template" id="timetable-template">
  </script>
  </body>
</html>
